.menu-toggle {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: transparent;
  min-height: 16px;
  width: 20px;
  padding: 0;
    &:hover .menu-toggle__inlay {
      background-color: $accent;
      &::before, &::after {
        background-color: $accent;
      }
    }
}

.menu-toggle__inlay {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all .25s ease;
    &::before {
      content: '';
      position: absolute;
      transition: all .25s ease;
      top: 7px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      transition: all .25s ease;
      bottom: 7px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff;
    }
}
.menu-toggle--active .menu-toggle__inlay::before {
  display: none;
}

.menu-toggle--active .menu-toggle__inlay {
  background-color: $accent;
  transform: rotate(45deg);
}

.menu-toggle--active .menu-toggle__inlay::after {
  bottom: 0;
  transform: rotate(90deg);
  background-color: $accent;
}

